@use '../SASS/Main' as*;

.main{    
    @include size(calc(100% - 350px) , 100%);
    margin-left: 360px;

    @include mq(1100px){
        margin-left: 160px;
        @include size(calc(100% - 150px) , 100%);
    }

    @include mq(600px){
        margin: 90px 10px ;
        @include size(100% , 100%);      
    }
}

.about{
    background-color: var(--bg-back) ;
    border: 1px solid var(--mix-bg-back);    
    color: white;
    margin: 10px 40px;
    padding: 20px;
    @include flex(center,center);
    gap: 20px;

    @include mq(1450px){
        @include flex-col(center,center);
        flex-direction: column-reverse;
        margin: 10px 20px;
    }
    @include mq(1100px){
        margin: 10px 10px;
    }
    @include mq(600px){
        margin: 10px 10px;        
    }
}
.imgBox{
    position: relative;
    @include size(300px , 390px);

    @include mq(1450px){
        @include size(80% , 390px);
    }
}

.hero{
    @include size(calc(100% - 300px) , 100%);
    @include flex-col(start, start);
    gap: 10px;

    @include mq(1450px){
        @include size(100% , 100%);
    }
}
.headerHero{
    @include flex(space-between,start);
    border: 1px solid var(--mix-bg-back);
    background-color: var(--bg-card);
    @include size(100% , 70px);
    padding: 10px;
    gap: 10px;

    @include mq(1450px){
        @include flex-col(center,center);
        @include size(100% , 200px);
    }
}
//************* freelance  *************
.headerHero .tap{
    position: relative;
    @include flex(center,center);
    height: 50px;
    background-color: var(--bg-card-slide);
    border: 1px solid var(--mix-bg-back);
    overflow: hidden;
    gap: 1px;
}

.headerHero .freelance {
    @include size(40% , 50px);
    gap: 5px;
    text-transform: capitalize;

    @include mq(1450px){
        @include size(100% , 50px);
    }
}
//************* //clock *************
.headerHero .clockBox{
    @include size(40%  , 50px);
    text-transform: capitalize;

    @include mq(1450px){
        @include size(100% , 50px);
    }
}
.Clock{
    fill: $cyan-5;    
    margin-right: 5px;
}

//************* //contact *************
.headerHero .contact{
    @include size(20% , 50px);
    overflow: hidden;
    text-transform: capitalize;
    border: 1px solid var(--mix-bg-back);

    &:hover .two{        
        visibility: visible;
        opacity:1;
        transform: translateY(0px);
        }
    &:hover .one{
        visibility: hidden;
        opacity: 0;
        transform: translateY(-15px);
    }

    @include mq(1450px){
        @include size(100% , 50px);
    }
}

.arrow{
    rotate: 45deg;
    transform: translateY(5px);
    margin-left: 8px;
}
.two{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(15px);
    color: $cyan-5;
    transition: 0.5s;
}
.one{    
    position: absolute;
    transition: 0.5s;
}


//************* //bodyHero *************
.bodyHero{
    @include size(100% , 100%);
    @include flex(center, center);
    gap: 10px;

    @include mq(1100px){
        @include flex-col(center,center);
        @include size(100% , 100%);
    }
}
.bodyHero .inform{
    @include size(55% , 300px);
    @include flex-col(start, start);
    background-color: var(--bg-card);
    border: 1px solid var(--mix-bg-back);
    padding : 20px;
    gap: 10px;

    @include mq(1100px){
        @include flex-col(center,center);
        @include size(100% ,  300px);   
        padding : 10px;
        gap: 5px;  
    }
}
.bodyHero .inform h1{
    font-size: 25px;
    @include mq(1100px){
        font-size: 20px; 
    }
}
.bodyHero .inform p{
    color: var(--txt-clr);
    line-height: 30px;
    font-size: 14px;
}
.bodyHero .inform .sign{
    @include size(100% , 40px);
    @include flex-col(center, end);

    @include mq(768px){
        @include size(100% , 20px);        
    }
}
//*************

//contact Me *************
.myContact{
    @include size(45% , 300px);
    background-color: var(--bg-card);
    border: 1px solid var(--mix-bg-back);
    padding: 10px;
    position: relative;
    overflow: hidden;

    @include mq(1100px){
        @include flex-col(start,center);
        @include size(100% , 300px);       
    }
}
.myContact .headerContact{
    @include flex(center, center);
    @include size(100% , 50px);
    gap: 15px;
}
.myContact .adress{
    
    border: 1px solid var(--mix-bg-back);
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    background-color: var(--bg-card-slide);
    padding: 15px 20px;
}

.myContact .place{    
    border: 1px solid var(--mix-bg-back);
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    background-color: var(--bg-card-slide);
    padding: 15px 20px;
}
.myContact .earth{
    position: absolute;
    margin: 0;
    padding: 0;
    right: -200px;
    bottom: -230px;
    animation: span 10s infinite linear ;
}
@keyframes span {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//***** section part of project

.projectContainer{
    background-color: var(--bg-back) ;
    border: 1px solid var(--mix-bg-back);  
    margin: 10px 40px;
    padding: 10px;

    @include mq(1450px){
        margin: 10px 20px;
    }
    @include mq(1100px){
        margin: 10px 10px;
    }
    @include mq(600px){
        margin: 10px 10px;        
    }
}
.projectContainer .tapHeader{
    position: relative;
    @include size(100% , 80px);
    border: 1px solid var(--mix-bg-back);   
    @include flex(space-between,center); 
    background-color: var(--bg-card) ;
    padding: 0 10px;
    margin-bottom: 10px ;

    @include mq(1450px){
        @include size(100% , 140px);
        flex-direction: column-reverse;
    }
}

.projectContainer .tap{
    @include size(100% , 80px);
    @include flex(space-between,center); 

    @include mq(1450px){
        @include flex(space-evenly,center);         
    }
}
.projectContainer .btnProject{
    position: relative;
    @include size(150px , 50px);
    border: 1px solid var(--mix-bg-back); 
    background-color: var(--bg-card-slide);
    @include flex(center,center);
    text-transform: capitalize;
    color: var(--text);
    z-index: 10;

    &:hover .two{        
        visibility: visible;
        opacity:1;
        transform: translateY(0px);
        }
    &:hover .one{
        visibility: hidden;
        opacity: 0;
        transform: translateY(-15px);
    }
}
//**** bunner ***
.projectContainer .bunner{
    position: absolute;
    transform: translateX(150px);
    display: flex;
    align-items: center;
    @include size(72% , 50px);
    border: 1px solid var(--mix-bg-back); 
    background-color: var(--bg-card-slide);
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);

    @include mq(1450px){
        position: relative;
        transform: translateX(10px);
        width: 95%;
    }

    @include mq(992px){
    width: 100%;
}
}
.projectContainer .bunner ul{ 
    display: flex;
    animation: move 20s linear infinite ;
    gap: 100px;
    white-space: nowrap;
    color: var(--text);
}

@keyframes move {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(-100%);
    }
    
    }

.projectContainer   .arrows{
        @include size(110px , 50px);
        @include flex(center,center);
        background-color: var(--bg-card);
        gap: 10px;
    }
.arrows .rightArrow,
.arrows .leftArrow{
    @include size(50px , 50px);
    @include flex(center,center);
    background-color: var(--bg-card-slide);
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        border: 1px solid var(--text); 
        fill: var(--text);
    }
}
.projectContainer .iconArrow{
    font-size: 30px;
}

// move cards with arrows
//1-color of arrows
.activee{
    border: 1px solid var(--text);
    color: var(--text);
}
.noActivee{
    color: var(--txt-clr);
    border: 1px solid var(--mix-bg-back); 
}
//  move cards
.moveCards{
    transform: translateX(-360px);
}
.backMove{
    transform: translateX(0px);
}

// ********* body projects *******

.tapBody{
    overflow: hidden;
}
.cards{
    display: grid;
    grid-template-rows: auto auto; /* Two rows */
    grid-template-columns: auto auto auto auto; /* Three columns */
    transition: transform 1s;
}
.cards .card{
    background-color: var(--bg-card-slide);
    border: 1px solid var(--mix-bg-back);
    padding: 10px;
    @include size(340px , 360px);
    @include flex-col(start,start);
    gap: 10px;
}
.cards .imgCard{
    position: relative;
    @include size(320px , 280px);
}
.card .bodyCard{
    @include flex-col(center,start);
    gap: 5px;
}
.card .bodyCard h5{
    color: var(--text);
    font-size: 15px;
}
.card .bodyCard h5:last-child{
    color: var(--txt-clr);
}