@use '../../../SASS/Main' as* ;

.main{    
    @include size(calc(100% - 350px) , 100%);
    margin-left: 360px;

    @include mq(1100px){
        margin-left: 160px;
        @include size(calc(100% - 150px) , 100%);
    }
    @include mq(600px){
        margin: 90px 10px ;
        @include size(100% , 100%);      
    }
}
.projects{
    background-color: var(--bg-back) ;
    border: 1px solid var(--mix-bg-back);
    @include flex(center,center);
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    margin: 10px 40px;
    padding: 20px;

    @include mq(1450px){
        margin: 10px 20px;
    }
    @include mq(1100px){
        margin: 10px 10px;
    }
    @include mq(800px){
        margin: 10px 10px;        
    }
}

.card{
    background-color: var(--bg-card);
    border: 1px solid var(--mix-bg-back);
    @include size(300px , 300px);
    @include flex-col(center,center);
    gap: 10px;
    color: var(--text);
    padding: 20px;
    border-radius: 5px
}
.bodyCard{
    @include size(100%,100%);
    text-align: start;
    gap: 10px;
}