@use '../../../SASS/Main' as * ;



.main{    
    @include size(calc(100% - 360px) , 100%);
    margin-left: 340px;

    @include mq(1100px){
        margin-left: 150px;
        @include size(calc(100% - 160px) , 100%);
    }

    @include mq(600px){
        margin: 80px 10px ;
        @include size(100% , 100%);      
    }
}
.about{
    background-color: var(--bg-back) ;
    border: 1px solid var(--mix-bg-back);
    @include flex(center,center);
    color: white;
    margin: 10px 40px;
    padding: 20px;

    @include mq(1450px){
        margin: 10px 20px;
    }
    @include mq(1100px){
        margin: 10px 10px;
    }
    @include mq(800px){
        margin: 10px 10px;        
    }
}